altasetting==0.1.1
blessings==1.6
colorama==0.3.2
Flask==0.10.1
guessit==2.0.5
netifaces==0.10.4
Ojota==2.0.1
pbr==1.10.0
pyaml==15.8.2
PyChromecast==0.7.3
pyquery==1.2.13
pysrt==1.1.1
python-daemon==1.6.1
qtfaststart==1.8
requests==2.10.0
simplejson==3.6.2
subliminal==2.0.3
