Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Ojota==2.0.1
TorrentMediaSearcher==1.0.3
-e git+https://github.com/touchandgo-devs/touchandgo.git@b88cff4a61be529977c84e192c1331154bfc11e5#egg=Touchandgo-dev
Werkzeug==0.9.6
argparse==1.2.1
babelfish==0.4.0
beautifulsoup4==4.3.2
charade==1.0.3
chardet==2.2.1
dogpile.cache==0.5.4
dogpile.core==0.4.1
enzyme==0.4.1
guessit==0.6.2
html5lib==1.0b3
itsdangerous==0.24
lockfile==0.9.1
netifaces==0.10.4
pysrt==1.0.1
python-daemon==1.6.1
requests==2.3.0
simplejson==3.6.2
six==1.7.3
subliminal==0.7.4
wsgiref==0.1.2
qtfaststart==1.8
colorama==0.3.2
