BeautifulSoup==3.2.1
Fabric==1.8.3
Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Ojota==2.0.1
PyExecJS==1.0.5
TorrentMediaSearcher==1.0.3
Werkzeug==0.9.6
argparse==1.2.1
babelfish==0.4.0
beautifulsoup4==4.3.2
charade==1.0.3
chardet==2.2.1
dogpile.cache==0.5.3
dogpile.core==0.4.1
ecdsa==0.11
enzyme==0.4.1
guessit==0.6.2
itsdangerous==0.24
lockfile==0.9.1
netifaces==0.10.4
paramiko==1.12.4
pycrypto==2.6.1
pysrt==1.0.1
python-daemon==1.6
requests==2.3.0
simplejson==3.5.2
six==1.6.1
subliminal==0.7.4
wsgiref==0.1.2

